doctype html
html
	head
		script(src="/fetch/fetch.js")
		script(src="/webcomponentsjs/webcomponents-lite.min.js")
		<link rel="import" href="/polymer/polymer.html">
		<link href="/intro.js/introjs.css" rel="stylesheet">

		script.
			var liquidConfig = !{JSON.stringify(client)}

		script(src="/components/webrtc/peer.js")


		title.
			Liquid.js

		meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")

		style.
			html,body {
				height: 100%;
				margin: 0;
				font-family: 'RobotoDraft', sans-serif;
				position: relative;
				-webkit-user-select: none;
				background-color: #D4D4D4;
			}

		style(is="custom-style").
			.container {
				margin: 0 auto;
				margin-top: 20px;
				margin-bottom: 20px;
				width: 80%;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
				align-content: center;
				align-items: flex-start;
			}

			.container img {
				border: 2px solid black;
			}

			liquid-component-picture {
				margin: auto;
			}

			.verticalContainer {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
			}



	body(unresolved onload="load()")
		canvas#canvas(width="300px", height="240px", style="display:none")

		div.toolbar

		div.container(style="display:none")
			img(src="/images/unfilter0.png", height="160", width="200", onclick="addPicture(0)")
			img(src="/images/unfilter1.png", height="160", width="200",onclick="addPicture(1)")
			img(src="/images/unfilter2.png", height="160", width="200", onclick="addPicture(2)")

		div.verticalContainer

		script(src="/intro.js/intro.js")
		script(src="/corescripts/liquidAPI.js")

		script(src="/scripts/map-offset.js")

		<!-- Piwik -->
		script(type="text/javascript").
			var _paq = _paq || [];
			// tracker methods like "setCustomDimension" should be called before "trackPageView"
			_paq.push(["setDomains", ["*.liquid.inf.usi.ch","*.liquid.inf.unisi.ch","*.liquid.inf.usi.ch"]]);
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
			var u="//design.inf.unisi.ch/piwik/";
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', '8']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			})();

		noscript.
			<p><img src="//design.inf.unisi.ch/piwik/piwik.php?idsite=8&rec=1" style="border:0;" alt="" /></p></noscript>
		<!-- End Piwik Code -->